In [3]:
# libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn import preprocessing
from datetime import datetime as dt

In [4]:
ares=pd.read_csv('../input/air_reserve.csv')
idrel=pd.read_csv('../input/store_id_relation.csv')

In [6]:
#idをid_dateの形に変形
ares1=ares.copy()
ares1['visit_date']=[i[:i.find(' ')] for i in ares['visit_datetime']]
ares1['store_id_date']=ares1['air_store_id']+'_'+ares1['visit_date']

In [10]:
#予約日時から訪問日時までの時間を取得
ares2=ares1.copy()
ares2['reserve_datetime']=pd.to_datetime(ares2['reserve_datetime'])
ares2['visit_datetime']=pd.to_datetime(ares2['visit_datetime'])

In [11]:
ares2.head()

,air_store_id,visit_datetime,reserve_datetime,reserve_visitors,visit_date,store_id_date
0,air_877f79706adbfb06,2016-01-01 19:00:00,2016-01-01 16:00:00,1,2016-01-01,air_877f79706adbfb06_2016-01-01
1,air_db4b38ebe7a7ceff,2016-01-01 19:00:00,2016-01-01 19:00:00,3,2016-01-01,air_db4b38ebe7a7ceff_2016-01-01
2,air_db4b38ebe7a7ceff,2016-01-01 19:00:00,2016-01-01 19:00:00,6,2016-01-01,air_db4b38ebe7a7ceff_2016-01-01
3,air_877f79706adbfb06,2016-01-01 20:00:00,2016-01-01 16:00:00,2,2016-01-01,air_877f79706adbfb06_2016-01-01
4,air_db80363d35f10926,2016-01-01 20:00:00,2016-01-01 01:00:00,5,2016-01-01,air_db80363d35f10926_2016-01-01

In [12]:
ares3=ares2.drop(['visit_datetime','reserve_datetime','visit_date'],axis=1)

In [13]:
ares4=ares3.groupby('store_id_date').sum().iloc[:,0:1]

In [14]:
ares4.head()

                                 reserve_visitors
store_id_date
air_00a91d42b08b08d9_2016-10-31                 2
air_00a91d42b08b08d9_2016-12-05                 9
air_00a91d42b08b08d9_2016-12-14                18
air_00a91d42b08b08d9_2016-12-17                 2
air_00a91d42b08b08d9_2016-12-20                 4

In [15]:
ares4.to_csv('../dataset/reserve.csv')