In [17]:
# libraries
import pandas as pd
from datetime import datetime as dt
from sklearn import preprocessing

In [18]:
date=pd.read_csv('../input/date_info.csv')

In [19]:
date.head()

  calendar_date day_of_week  holiday_flg
0    2016-01-01      Friday            1
1    2016-01-02    Saturday            1
2    2016-01-03      Sunday            1
3    2016-01-04      Monday            0
4    2016-01-05     Tuesday            0

In [20]:
date1=pd.DataFrame()

In [21]:
year=[]
month=[]
day=[]
for i in date['calendar_date']:
    y,m,d=i.split('-')
    year.append(y)
    month.append(m)
    day.append(d)

In [22]:
date1['calendar_date']=date['calendar_date']
date1['year']=year
date1['month']=month
date1['day']=day
date1['season']=month

In [23]:
date1['year']=preprocessing.LabelEncoder().fit(date1['year']).transform(date1['year'])
date1['month']=date1['month'].astype('int')
date1['day']=date1['day'].astype('int')

In [24]:
date1['day_of_week']=date['day_of_week']
date1['working_day']=date['day_of_week']
date1['holiday_flg']=date['holiday_flg']

In [25]:
week_dict={'Sunday': 0,
                     'Monday': 1,
                     'Tuesday': 2,
                     'Wednesday': 3,
                     'Thursday': 4,
                     'Friday': 5,
                     'Saturday': 6}

#holiday_flagで祝日が1なので、休日も1とする
workday_dict={'Sunday': 1,
                            'Monday': 0,
                            'Tuesday': 0,
                            'Wednesday':0,
                            'Thursday': 0,
                            'Friday': 0,
                            'Saturday': 1}

season_dict={'01': 0,
                         '02': 0,
                         '03': 1,
                         '04': 1,
                         '05': 1,
                         '06': 2,
                         '07': 2,
                         '08': 2,
                         '09': 3,
                         '10': 3,
                         '11': 3,
                         '12': 0}

In [26]:
date2=date1.replace({'day_of_week':week_dict,'working_day':workday_dict,'season':season_dict})

In [27]:
date2.head()

,calendar_date,year,month,day,season,day_of_week,working_day,holiday_flg
0,2016-01-01,0,1,1,0,5,0,1
1,2016-01-02,0,1,2,0,6,1,1
2,2016-01-03,0,1,3,0,0,1,1
3,2016-01-04,0,1,4,0,1,0,0
4,2016-01-05,0,1,5,0,2,0,0

In [28]:
date3=date2.rename(columns={'calendar_date':'visit_date'})
date3.set_index('visit_date',drop=True,inplace=True)
date3.to_csv('../dataset/date.csv')