In [1]:
# libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn import preprocessing
from datetime import datetime as dt

In [3]:
avis=pd.read_csv('../input/air_visit_data.csv')

In [4]:
avis.head()

           air_store_id  visit_date  visitors
0  air_ba937bf13d40fb24  2016-01-13        25
1  air_ba937bf13d40fb24  2016-01-14        32
2  air_ba937bf13d40fb24  2016-01-15        29
3  air_ba937bf13d40fb24  2016-01-16        22
4  air_ba937bf13d40fb24  2016-01-18         6

In [5]:
#idをid_dateの形に変形
avis1=avis.copy()
avis1['store_id_date']=avis1['air_store_id']+'_'+avis1['visit_date']
avis1.drop(['air_store_id','visit_date'],axis=1,inplace=True)

In [6]:
avis1.set_index('store_id_date',drop=True,inplace=True)
avis1.to_csv('../dataset/actual_visitors.csv')